<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <meta name="viewport" content= "width=device-width, user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="socket.io/socket.io.js"></script>
  <style>
    body {
      font-family: Menlo, Consolas, monospace;
      color: #444;
      font-size: 0.8em;
      margin: 1em;
    }

    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    #totalconnections {
      font-weight: bold;
    }

    #chat-context {
      overflow-y: scroll;
      resize: nome;
    }

    #chat-context,
    #txtChat,
    #information {
      width: 100%;
      margin: 0.8em;
    }
  </style>
  <script>
    var url_origin = window.location.origin;
    var socket = io(url_origin);

    socket.on('server-response', (data) => {
      console.log(data);
      $('#totalconnections').text(data.totalclient);
      $('#nodeversion').text(data.nodeversion);
      $('#arch').text(data.arch);

      let { freemem, totalmem } = data;
      let percent = ((freemem / totalmem) * 100).toFixed(1);
      let totalmemGB = (totalmem / Math.pow(1024, 3)).toFixed(1);
      let mem = `${percent}% of ${totalmemGB}GB`;
      $('#freemem').text(mem);

      $('#homedir').text(data.homedir);
      $('#hostname').text(data.hostname);
      $('#platform').text(data.platform);
      $('#ostype').text(data.ostype);
      $('#ejsVer').text(data.ejsVer);
      $('#expressVer').text(data.expressVer);
      $('#socketioVer').text(data.socketioVer);
    })

    socket.on('mess', (data) => {
      let messages = `${data.id}: ${data.mess}\n`
      $('#chat-context').append(messages);
      $('#chat-context').scrollTop(document.getElementById('chat-context').scrollHeight);
    });

    $(document).ready(() => {
      $('#txtChat').on("keypress", (e) => {
        if (e.keyCode == 13) {
          let m = $.trim($('#txtChat').val());
          if ('' != m) {
            socket.emit('chatAll', m);
            $('#txtChat').val('');
          }
          return false;
        }
      });

    });
  </script>
</head>

<body>
  <div class="body">
    <div class="row">
      <h2><%= title %></h2>
      <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
        <table id="information">
          <tr>
            <th>Info</th>
            <th>Values</th>
          </tr>

          <tr>
            <td>Total Connections</td>
            <td id="totalconnections"></td>
          </tr>

          <tr>
            <td>Node Ver.</td>
            <td id="nodeversion"></td>
          </tr>

          <tr>
            <td>CPU architecture</td>
            <td id="arch"></td>
          </tr>

          <tr>
            <td>Free Memory</td>
            <td id="freemem"></td>
          </tr>

          <tr>
            <td>Home Dir.</td>
            <td id="homedir"></td>
          </tr>

          <tr>
            <td>Host Name</td>
            <td id="hostname"></td>
          </tr>

          <tr>
            <td>Platform</td>
            <td id="platform"></td>
          </tr>

          <tr>
            <td>OS Type</td>
            <td id="ostype"></td>
          </tr>

          <tr>
            <td>Express Ver.</td>
            <td id="expressVer"></td>
          </tr>

          <tr>
            <td>EJS Ver.</td>
            <td id="ejsVer"></td>
          </tr>

          <tr>
            <td>SocketIO Ver.</td>
            <td id="socketioVer"></td>
          </tr>
        </table>
      </div>
      <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
        <div class="form-group">
          <textarea class="form-group" name="chat" id="chat-context" rows="11" readonly></textarea>
          <input type="text" id="txtChat" placeholder="Press Enter or OK to send your mess...">
        </div>
      </div>
    </div>
  </div>
</body>

</html>