<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="socket.io/socket.io.js"></script>
  <script>
    var socket = io('http://localhost:3000');
    $(document).ready(function () {
      socket.on('socketToMe', function(data){
        console.log(data);
      })
    });
  </script>
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
</body>

</html>